body {
    background-image: url('images/paper-like.jpeg');
}

h1 {
    font-size: 50px;
    font-family: 'Lucida Console',  monospace;
    color: #2f2f2f;
    text-align: center;
}

h2 {
    font-family: 'Lucida Console',  monospace;
    color: #2f2f2f;
    text-align: center;
}

h3 {
    font-family: 'Lucida Console',  monospace;
    color: #2f2f2f;
    text-align: center;
}

h4 {
    font-family: 'Lucida Console',  monospace;
    color: #2f2f2f;
    text-align: center;
}

h5 {
    font-family: 'Lucida Console',  monospace;
    color: #2f2f2f;
    text-align: center;
}

h6 {
    font-family: 'Lucida Console',  monospace;
    color: #2f2f2f;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #2f2f2f;
    display: inline-block;
    text-align: center;
    margin-bottom: 100px;
    border-style: solid;
    border-width: 2px;
}

p::first-letter {
    font-weight: bold;
    font-size: 20px;
}

img {
    border-radius: 10rem;
    width: 90%;
}

img #caption {
    font-size: small;
    color: #2f2f2f;
}